snippet printhv "Print a has key and value pair" !b
print "${1:key}=\$${2:hash}\{$1}\n";
endsnippet

snippet warnv "warn v=$v" !b
warn "${1:variable}=\$$1\n";
endsnippet

snippet sth "dbh prepare" !b
my \$${1:sth} = $self->dbh('${2:rev_master}')->prepare("${3:$sql}");
endsnippet

snippet . "->" i
->$0
endsnippet

snippet -> "->{}" i
->{$1}$0
endsnippet
