snippet cnative "react native component"
import React from "react";
import { StyleSheet, View } from "react-native";

export default class ${1:Component} extends React.Component {
  render() {
    return (
      <View style={styles.container}>
        $2
      </View>
    );
  }
}

const styles = StyleSheet.create({
  container: {
    flex: 1,
    backgroundColor: "#fff",
    alignItems: "center",
    justifyContent: "center"
  }
});
endsnippet
