snippet tif "tmpl_if tag" w
<tmpl_if ${1}>${2}</tmpl_if>
endsnippet

snippet tunl "tmpl_unless tag" w
<tmpl_unless ${1}>${2}</tmpl_unless>
endsnippet

snippet tloop "tmpl_loop tag" w
<tmpl_loop ${1}>${2}</tmpl_loop>
endsnippet
