snippet flex "flex" b
align-content: center;
align-items: center;
display: flex;
flex-flow: row nowrap;
justify-content: center;
endsnippet

snippet vrb "vertical-rhythm-baseline" w
$vertical-rhythm-baseline
endsnippet
