snippet tc "tag closing" b
<${1:tag} />
endsnippet

snippet a: "android:"
android:${1:id}="${2:@+id}${3:/${4:name}}"
endsnippet

snippet alwe "android:layout_weight" b
android:layout_weight="$1"
endsnippet

snippet alh "android:layout_height" b
android:layout_height="$1"
endsnippet

snippet alw "android:layout_width" b
android:layout_width="$1"
endsnippet

snippet aon "android:onEvent" b
android:on${1:Click}="$2"
endsnippet
